.carousel-image {
    background-size: cover;
    height: 60vh;
}

.carousel-caption {
    font-size: 1vh;
}


.jumbotron {
	color: white;
	background: transparent;
	width:100%;
	margin: auto;
	text-shadow: 	-1px -1px 1px #000,
    				1px -1px 1px #000,
    				-1px 1px 1px #000,
    				1px 1px 1px #000;  
}

.jumbotron p {
	font-size: 2vh;
	font-weight: 400;
}
